# yaml-language-server: $schema=https://raw.githubusercontent.com/jesseduffield/lazygit/master/schema/config.json

git:
  autoFetch: false
  pagers:
    - externalDiffCommand: '{{ .chezmoi.destDir }}/AppData/Roaming/jesseduffield/lazygit/lazygit-pager.ps1'
