# .tmux.conf hash: {{ include "dot_tmux.conf.tmpl" | sha256sum }}
& "$HOME\.psmux\plugins\ppm\scripts\install_plugins.ps1"
& "$HOME\.psmux\plugins\ppm\scripts\update_plugins.ps1"
& "$HOME\.psmux\plugins\ppm\scripts\clean_plugins.ps1"
